{% extends "zero.html" %}
{% block script %}
<script>

    birdColor = []
    birdHabitat = []
    birdSize = []
    birdOrder = []
    function fetchData(url, value){

        let item = { color : [], size: [], habitat : [], order : 0}
        fetch(url,{
            method: 'POST',
            headers: {'Content-Type' : 'application/json'},
            body: JSON.stringify(value)
        })
            .then(response => response.json())
            .then(data => {
                updateBirdList(data)
            })
    }

    function updateBirdList(birds) {

        const birdListPanel = document.getElementById('bird-list-panel');
        birdListPanel.innerHTML = ''; // Clear existing content

        if (birds) {
            birds.forEach(bird => {
                // Create HTML elements for each bird and append them to birdListPanel
                const birdElement = document.createElement('div');
                birdElement.classList.add('relative', 'w-full', 'flex', 'flex-row', 'bg-white', 'p-2', 'border', 'rounded-md', 'hover:bg-gray-100/70');
                birdElement.setAttribute('data-bird-item', "true");
                // Create HTML structure for displaying bird details (name, scientific name, colors, etc.)
                // You can customize this based on your specific requirements
                birdElement.innerHTML = `
                    <div class="w-40 h-24 items">
                        <img src="/static/birds_list/${bird.bird_img[0]}" class="w-full h-full object-cover rounded-md">
                    </div>
                    <div class="pl-5 flex flex-col">
                        <div>
                            <div class="text-xl" data-bird-name="true">${bird.bird_name}</div>
                            <div class="text-sm" data-bird-sci-name="true">${bird.bird_sci_name}</div>
                        </div>
                        <div class="pt-3">${bird.bird_color.map(color => {
                    const textColor = textColorFromHex(color.color_code, null);
                    return `<div class="center relative inline-block border whitespace-nowrap rounded-lg py-1 px-2.5 align-baseline font-sans text-xs leading-none" style="background: ${color.color_code}; color: ${textColor};">${color.color_name}</div>`;
                }).join('')}
                        </div>
                    </div>
                    <div class="absolute right-2.5 bottom-3 flex flex-row gap-0.5">
                        <button class="bg-gray-700 text-white border font-bold hover:border-gray-700 hover:text-gray-700 hover:bg-gray-50 py-1.5 px-2 text-xs rounded-md" onclick="compareBird(this, '${bird.bird_name}', '${bird._id}')">Compare</button>
                        <form action="/bird_detail" data-detail-form="true" method="POST">
                            <input type="hidden" name="bird_id" value="${bird._id}">
                            <button type="submit" class="bg-gray-700 text-white border font-bold enabled:hover:bg-gray-50 hover:border-gray-700 hover:text-gray-700 hover:bg-gray-700 py-1.5 px-2 text-xs rounded-md">Detail</button>
                        </form>
                    </div>
                `;
                 birdElement.addEventListener('click', function() {
                     detailSubmit(this);
                 });
                birdListPanel.appendChild(birdElement);
            });
        }else
        {
            birdListPanel.innerHTML = `<p class="text-xl text-center">The results not found!</p>`
        }
    }

    function chipCreation(chip_container, color_code, text, value){

        const containerCheck = {"color-chip-container" : birdColor, "habitat-chip-container" : birdHabitat,
            "size-chip-container" : birdSize, "order-chip-container" : birdOrder}

        const chipContainer = document.getElementById(chip_container),
            chip = document.createElement('div'),
            chipText = document.createElement('p'),
            chipButton = document.createElement('button'),
            textExitBtnColor = textColorFromHex(color_code, null);


        chip.style.backgroundColor = `${color_code}`
        chip.classList.add("center", "relative", "inline-block", "select-none", "whitespace-nowrap","rounded-lg",
           "py-2", "px-3.5", "align-baseline", "font-sans", "text-xs", "font-bold", "leading-none");

        chipText.classList.add("mr-5", "mt-px");
        chipText.textContent = text;
        chipText.style.color = textExitBtnColor
        chip.appendChild(chipText)

        chipButton.classList.add("h-5", "w-5", "p-1", "absolute", "top-1", "right-1", "mx-px", "mt-[0.5px]",
            "rounded-md", "transition-colors", "hover:bg-gray-900", "hover:text-gray-200")
        chipButton.style.color = textExitBtnColor
        chipButton.textContent = "x";
        chip.appendChild(chipButton)


        chipContainer.appendChild(chip);

        let valueArray = containerCheck[chip_container]
        if (valueArray)
        {
            valueArray.push(value)
        }

        let data = {color: birdColor, size : birdSize, habitat : birdHabitat, order : birdOrder}
        fetchData("/filter", data)

        chipButton.addEventListener('click', () =>{

            arrayValueRemove(valueArray, value)
            fetchData("/filter", data)
            chipContainer.removeChild(chip);
        });
    }

    function colorChip(color_option, color_chip_container){
        const colorData = color_option.dataset, colorCode = colorData.colorCode, colorName = colorData.colorName,
            colorMorePanel = document.getElementById('color-more-panel'), colorInput = document.getElementById('color-input');

        chipCreation(color_chip_container, colorCode, colorName, colorName)
        colorInput.value= null
        colorMorePanel.classList.add('hidden');
    }

    function sizeChip(size_option, size_chip_container) {
        const birdName = size_option.dataset.name,
            sizeValue = size_option.dataset.value,
            sizeInput = document.getElementById('size-input'),
            sizeMorePanel = document.getElementById('size-more-panel'),
            sizeChipContainer = document.getElementById("size-chip-container"),
            chipCount = sizeChipContainer.querySelectorAll('button');

        if (chipCount.length){

            chipCount[0].click()
            chipCreation(size_chip_container, '#374151', birdName, sizeValue);
        }else
        {
            chipCreation(size_chip_container, '#374151', birdName, sizeValue);
        }
        sizeInput.value = null
        sizeMorePanel.classList.add('hidden');

        //fetchData('/filter', value)
    }

    function habitatChip(habitat_option, habitat_chip_container){
        const habitatName = habitat_option.dataset.name, habitatColor = habitat_option.dataset.colorCode,
            habitatInput = document.getElementById('habit-input'),
            habitatMorePanel = document.getElementById('habitat-more-panel')

        chipCreation(habitat_chip_container, habitatColor, habitatName, habitatName)
        habitatMorePanel.classList.add('hidden');
        habitatInput.value = null
        //birdHabitat.push(habitatName)
        //fetchData('/filter', {bird_habitat: birdHabitat})
    }

    function orderChip(order_option, order_chip_container){
        const orderName = order_option.dataset.name,
            orderInput = document.getElementById('order-input'),
            orderMorePanel = document.getElementById('order-more-panel'),
            orderChipContainer = document.getElementById('order-chip-container'),
            chipCount = orderChipContainer.querySelectorAll('button');

        if (chipCount.length){
            chipCount[0].click()
            chipCreation(order_chip_container, '#9F9286', orderName, orderName)
        }else
        {
            chipCreation(order_chip_container, '#9F9286', orderName, orderName)
        }
        orderInput.value = null
        orderMorePanel.classList.add('hidden');
        //fetchData('/filter', {bird_order: orderName})
    }



    function compareBird(compare_btn, bird_name, bird_id, event) {

        event.stopPropagation()
        const compareBirdOne = document.getElementById("compare-bird-1"),
            compareBirdTwo = document.getElementById("compare-bird-2"),
            birdOneText = compareBirdOne.querySelector('p'),
            birdTwoText = compareBirdTwo.querySelector('p'),
            vsText = document.getElementById("compare-vs-text"),
            compareSubBtn = document.getElementById("compare-submit"),
            bird1Input = document.getElementById("bird1_id"),
            bird2Input = document.getElementById("bird2_id")


        if (birdOneText.textContent) {
            birdTwoText.textContent = bird_name;
            bird2Input.value = bird_id
            vsText.classList.remove('hidden')
            compareBirdTwo.classList.remove('hidden');
        } else {
            birdOneText.textContent = bird_name;
            vsText.classList.remove('hidden');
            bird1Input.value = bird_id
            compareBirdOne.classList.remove('hidden');
        }

        if (birdOneText.textContent && birdTwoText.textContent) {
            compareSubBtn.classList.remove('hidden');
        }
    }

    function compareExit(compare_chip_element) {

        const compareCElement = document.getElementById(compare_chip_element),
            compareCText = compareCElement.querySelector('p'), vsText =document.getElementById('compare-vs-text'),
            compareBtn = document.getElementById('compare-submit')

        compareCText.textContent = "";
        compareCElement.classList.add('hidden')
        if (!vsText.classList.contains("hidden"))
        {
            vsText.classList.add('hidden')
        }

        if (!compareBtn.classList.contains("hidden"))
        {
            compareBtn.classList.add('hidden')
        }

    }

    function bNameInputSearch(input, more_panel){

        let searchTerm = input.value.toLowerCase(),
            morePanel = document.getElementById(more_panel),
            items = morePanel.querySelectorAll('[data-bird-item]');

        console.log(items)

        items.forEach(item => {
            const name = item.querySelector('[data-bird-name]').textContent.toLowerCase();
            const sciName = item.querySelector('[data-bird-sci-name]').textContent.toLowerCase();
            if (name.includes(searchTerm) || sciName.includes(searchTerm)) {
                item.classList.remove('hidden');
            } else {
                item.classList.add('hidden');
            }
        });
    }


    function detailSubmit(birdlist_panel){
        const detailForm = birdlist_panel.querySelector('[data-detail-form]')
        detailForm.submit();
    }



    //    #bird-list-text-color-change

    document.addEventListener('DOMContentLoaded', function() {
        const birdsListPanel = document.getElementById('bird-list-panel');

        if (birdsListPanel) {
            var colorChips = birdsListPanel.querySelectorAll('[data-color-code]');

            colorChips.forEach(function(chip) {
                // Extract RGB values from the computed background color
                let chipColor = chip.style.backgroundColor.match(/\b(\d{1,3})\b/g).map(Number);
                chip.style.color = textColorFromHex(null, chipColor);
            })
        }
    });



</script>
{%endblock%}
{% block title %} Explore {% endblock %}
{% block content %}
<div class=" grid grid-cols-3 w-full h-full">
    <div class=" border-r border-gray-700 px-3 h-">
        <!--  #color  -->
        <div>
            <p class=" font-simple text-xl py-3">Color of Birds</p>
            <div class="w-full mb-2 flex gap-1 flex-wrap" id="color-chip-container">
                <!-- #color-chip  -->
            </div>
            <div class="w-full">
                <div class="relative w-full" id="color-dropdown">
                    <input type="text" id="color-input" class="w-full border border-gray-400 rounded-md pl-3 h-9" placeholder="Search with color" oninput="inputCustomSearch(this, 'color-more-panel')">
                    <button class="absolute right-2 top-1 w-7 h-7 rounded-md border rounded-md border-gray-300" onclick="showMore(this,'color-more-panel')">
                        <svg class="-mr-1 w-full h-full text-gray-700 rounded-md hover:bg-gray-700 hover:text-gray-50" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="absolute z-10 w-full my-0.5 p-1 border bg-gray-50 max-h-80 overflow-y-auto hidden" id="color-more-panel">
                        {% for color in colors %}
                        <div class="w-full h-10 flex flex-row items-center bg-white p-2 border rounded-md hover:bg-gray-100/70"
                        data-color-code="{{color['color_code']}}" data-color-name="{{color['color_name']}}" onclick="colorChip(this, 'color-chip-container')">
                            <p class="w-10 h-6 border border-gray-300" style="background: {{color['color_code']}}"></p>
                            <p class="text-sm p-y-2 px-5 uppercase">{{color['color_name']}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-2">

        <!--  #size  -->
        <div>
            <p class=" font-simple text-xl py-2">Birds Size</p>
            <div class="w-full mb-2 flex gap-1 flex-wrap" id="size-chip-container">
                <!-- #size-chip  -->
            </div>
            <div class="w-full">
                <div class="relative" id="size-dropdown">
                    <input type="input" id="size-input" class="w-full border border-gray-400 rounded-md pl-3 h-9" placeholder="Search with size" oninput="inputCustomSearch(this, 'size-more-panel')">
                        <button class="absolute right-2 top-1 w-7 h-7 rounded-md border rounded-md border-gray-300" onclick="showMore(this,'size-more-panel')">
                            <svg class="-mr-1 w-full h-full text-gray-700 rounded-md hover:bg-gray-700 hover:text-gray-50" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    <div class="absolute z-20 w-full my-0.5 p-1 border bg-gray-50 max-h-80 overflow-y-auto hidden" id="size-more-panel">
                        <div class="w-full h-12 flex flex-row items-center bg-white p-2 border rounded-md hover:bg-gray-100/70"
                        data-value="1" data-name="Ruby-crowned Kinglet" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/kinglet.png')}}" class="w-8 h-8 rounded-md" >
                            <p class="text-sm pl-8">Ruby-crowned Kinglet </br> Length: 4.25 in, Width: 6.75 ~ 7.5in</p>
                        </div>
                        <div class="w-full h-12 flex flex-row items-center p-2 bg-white border rounded-md hover:bg-gray-100/70"
                            data-value="2" data-name="House Sparrow" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/sparrow.png')}}" class="w-10 h-10 rounded-md" >
                            <p class="text-sm pl-6">House Sparrow</br>Length: 5.5 - 6.5 in, Wingspan: 9.5 - 10 in</p>
                        </div>
                        <div class="w-full h-12 flex flex-row items-center p-2 bg-white border rounded-md hover:bg-gray-100/70"
                            data-value="3" data-name="European Starling" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/starling.png')}}" class="w-11 h-11 rounded-md" >
                            <p class="text-sm pl-5">European Starling</br>Length: 8.5 in, Wingspan: 15.5 in</p>
                        </div>
                        <div class="w-full h-12 flex flex-row items-center p-2 bg-white border rounded-md hover:bg-gray-100/70"
                            data-value="4" data-name="Ring-billed Gull" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/gull.png')}}" class="w-14 rounded-md" >
                            <p class="text-sm pl-2">Ring-billed Gull</br>Length: 18-19 in, Wingspan: 48 in</p>
                        </div>
                        <div class="w-full h-20 flex flex-row items-center p-4 bg-white border rounded-md hover:bg-gray-100/70"
                             data-value="5" data-name="Red-tailed-Hawk" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/hawk.png')}}" class="w-10 rounded-md" >
                            <p class="text-sm pl-4">Red-tailed Hawk</br>Length: 19 - 25 in, Wingspan: 46 - 58 in</p>
                        </div>
                        <div class="w-full h-20 flex flex-row items-center p-4 bg-white border rounded-md hover:bg-gray-100/70"
                             data-value="6" data-name="Blue-Heron" onclick=sizeChip(this,'size-chip-container')>
                            <img src="{{url_for('static', filename='birds_size/blueheron.png')}}" class="w-16 rounded-md -ml-3 bg-cover" >
                            <p class="text-sm pl-1">Great Blue Heron</br>Length: 37 - 54 in, Wingspan: 79 - 88 in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-2">

        <!-- #habitats -->

        <div>
            <p class=" font-simple text-xl py-3">Habitats of Birds</p>
            <div class="w-full mb-2 flex gap-1 flex-wrap" id="habitat-chip-container">
                <!-- #chip  -->
            </div>
            <div class="w-full">
                <div class="relative w-full" id="habitat-dropdown">
                    <input type="text" id="habit-input" class="w-full border border-gray-400 rounded-md pl-3 h-9" placeholder="Search with habitats" oninput="inputCustomSearch(this, 'habitat-more-panel')">
                    <button class="absolute right-2 top-1 w-7 h-7 rounded-md border rounded-md border-gray-300" onclick="showMore(this,'habitat-more-panel')">
                        <svg class="-mr-1 w-full h-full text-gray-700 rounded-md hover:bg-gray-700 hover:text-gray-50" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="absolute z-30 w-full my-0.5 p-1 border bg-gray-50 max-h-80 overflow-y-auto hidden" id="habitat-more-panel">
                        {% for habitat in habitats %}
                        <div class="w-full h-16 flex flex-row items-center bg-white p-2 border rounded-md hover:bg-gray-100/70"
                        data-color-code="{{habitat[1]}}" data-name="{{habitat[0]}}" onclick="habitatChip(this, 'habitat-chip-container')">
                            <img src="{{url_for('static', filename='birds_habitat/'~habitat[2])}}" class="w-20 rounded-md">
                            <p class="text-sm p-y-2 px-5">{{habitat[0]}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-2">

        <!--  #orders  -->

        <div>
            <p class=" font-simple text-xl py-3">Birds Order</p>
            <div class="w-full mb-2 flex gap-1 flex-wrap" id="order-chip-container">
                <!-- #chip  -->
            </div>
            <div class="w-full">
                <div class="relative w-full" id="order-dropdown">
                    <input type="text" id="order-input" class="w-full border border-gray-400 rounded-md pl-3 h-9" placeholder="Search with orders" oninput="inputCustomSearch(this, 'order-more-panel')">
                    <button class="absolute right-2 top-1 w-7 h-7 rounded-md border rounded-md border-gray-300" onclick="showMore(this,'order-more-panel')">
                        <svg class="-mr-1 w-full h-full text-gray-700 rounded-md hover:bg-gray-700 hover:text-gray-50" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div class="absolute z-[31] w-full my-0.5 p-1 border bg-gray-50 max-h-80 overflow-y-auto hidden" id="order-more-panel">
                        {% for order in orders %}
                        <div class="w-full h-13 flex flex-row items-center bg-white p-2 border rounded-md hover:bg-gray-100/70"
                             data-name="{{order[0]}}" onclick="orderChip(this, 'order-chip-container')">
                            <img src="{{url_for('static', filename='birds_order/'~order[1])}}" class="w-20 rounded-md">
                            <p class="text-sm p-y-2 px-5">{{order[0]}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!--  #compare  -->

        <hr class="mt-5 mb-2">

        <div>
            <p class=" font-simple text-xl py-3">Comparison</p>
            <form action="/compare" id="compare-form" method="get">
                <div id="compare-chip-container" class="w-full mb-2 flex gap-1 flex-wrap items-center">
                    <div id="compare-bird-1" class="hidden center border border-gray-300 rounded-md bg-gray-100/70 relative inline-block select-none whitespace-nowrap rounded-lg py-2 px-2.5 align-baseline font-sans text-base font-bold leading-none">
                        <p class="mr-5"></p>
                        <div id="compare1-exit" class="h-5 w-5 absolute top-1.5 right-1 rounded-md transition-colors hover:bg-gray-700 hover:border-gray-900 hover:text-gray-200 text-center" onclick="compareExit('compare-bird-1')">&times;</div>
                    </div>
                    <p id="compare-vs-text" class="hidden text-xl font-bold px-3">Vs</p>
                    <div id="compare-bird-2" class="hidden center border border-gray-300 rounded-md bg-gray-100/70 relative inline-block select-none whitespace-nowrap rounded-lg py-2 px-2.5 align-baseline font-sans text-base font-bold leading-none">
                        <p class="mr-5"></p>
                        <div id="compare2-exit" class="h-5 w-5 absolute top-1.5 right-1 rounded-md transition-colors hover:bg-gray-700 hover:border-gray-900 hover:text-gray-200 text-center" onclick="compareExit('compare-bird-2')" >&times;</div>
                    </div>
                </div>

                <input type="hidden" name="bird1_id" id="bird1_id">
                <input type="hidden" name="bird2_id" id="bird2_id">
                <button type="submit" id="compare-submit" class="hidden bg-gray-700 text-white border font-bold enabled:hover:bg-gray-50
                                       hover:border-gray-700 hover:text-gray-700 hover:bg-gray-700 py-1.5 px-2 text-base rounded-md">Compare</button>
            </form>

        </div>

        <hr class="mt-5 mb-2">

    </div>

    <!--  #search  -->


    <div class=" col-start-2 col-span-2">
        <div class="relative w-full mr-4">
            <input class="w-full pl-8 pr-3 py-2 border-b focus:outline-none focus:ring-2 focus:ring-indigo-500 border-gray-500 transition-shadow"
                   placeholder="Search Bird by Name..." oninput="bNameInputSearch(this, 'bird-list-panel')"
                   type="text">
        </div>

        <!--  #bird-list  -->

        <div class="w-full my-0.5 p-1 border bg-gray-50 max-h-[580px] overflow-y-auto" id="bird-list-panel">
            {% for bird in birds %}
                <div class="relative w-full flex flex-row bg-white p-2 border rounded-md hover:bg-gray-100/70" data-bird-item="true" onclick="detailSubmit(this)">
                    <div class="w-40 h-24 items">
                        <img src="{{url_for('static', filename='birds_list/'~bird['bird_img'][0])}}" class="w-full h-full object-cover rounded-md" >
                    </div>
                    <div class="pl-5 flex flex-col">
                        <div>
                            <div class="text-xl" data-bird-name="true">{{bird['bird_name']}}</div>
                            <div class="text-sm" data-bird-sci-name="true">{{bird['bird_sci_name']}}</div>
                        </div>

                        <!--  #bird-list-color  -->

                        <div class="pt-3">
                            {% for b_color in bird['bird_color'] %}
                                <div class="center relative inline-block select-none
                                            border whitespace-nowrap rounded-lg py-1 px-2.5 align-baseline font-sans text-xs leading-none"
                                     style="background: {{b_color['color_code']}};" data-color-code="{{b_color['color_code']}}">
                                    {{b_color['color_name']}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="absolute right-2.5 bottom-3 flex flex-row gap-0.5">
                        <button class="bg-gray-700 text-white border font-bold
                                       hover:border-gray-700 hover:text-gray-700 hover:bg-gray-50 py-1.5 px-2 text-xs rounded-md" onclick="compareBird(this, '{{ bird['bird_name'] }}', '{{ bird['_id'] }}', event)">
                                Compare
                        </button>
                        <form action="/bird_detail" method="GET" data-detail-form ="true">
                            <!--  #send-bird-id-4-detail  -->
                            <input type="hidden" name="bird_id" value="{{ bird['_id'] }}">
                            <button type="submit" class="bg-gray-700 text-white border font-bold enabled:hover:bg-gray-50
                                       hover:border-gray-700 hover:text-gray-700 hover:bg-gray-700 py-1.5 px-2 text-xs rounded-md">
                                Detail
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>




    </div>
</div>

<script>


</script>
{% endblock %}