<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pattya&display=swap" rel="stylesheet">
    <title>Flask Website</title>
</head>
<body>
<nav class="flex">
        <a href="/" class="bg-gray-700 flex">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" class="w-24">
        </a>
            <ul class="flex flex-row items-center gap-2">
                <li>
                    <a href="#" class="p-4 py-2 border-2 rounded-md">Home</a>
                </li>
                <li>
                    <a href="#" class="p-4 py-2 border-2 rounded-md">Explore</a>
                </li>
                <li>
                    <a href="#" class="p-4 py-2 border-2 rounded-md">Map</a>
                </li>
            </ul>
            <ul class="flex flex-row items-center gap-2">
                <li><a href="#" class="p-4 py-2 border-2 rounded-md">Sign In</a></li>
                <li><a href="#" class="p-4 py-2 border-2 rounded-md">Sign Up</a></li>
            </ul>
    </nav>
</body>
</html>
