<html>
<head>
    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="./index.js" type="module"></script>
    <script>
        let map, infoWindow, userMarker;

        function getUserLocation() {
            return new Promise((resolve, reject) => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const userLocation = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            resolve(userLocation);
                        },
                        (error) => {
                            reject(error);
                        },
                    );
                } else {
                    reject(new Error("Geolocation is not supported by this browser."));
                }
            });
        }

        async function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                gestureHandling: "cooperative",
            });
            infoWindow = new google.maps.InfoWindow();

            try {
                const userLocation = await getUserLocation();
                map.setCenter(userLocation);

                userMarker = placeMarkerAndPanTo(userLocation, map, {type: "user"});
                map.addListener("click", (e) => {
                    placeMarkerAndPanTo(e.latLng, map, {type: "other"});
                });

            } catch (error) {
                handleLocationError(true, infoWindow, map.getCenter());
            }
        }

        function placeMarkerAndPanTo(latLng, map, markerOptions = {}) {
            clicked = false;
            const marker = new google.maps.Marker({
                position: latLng,
                map: map,
            });

            marker.addListener("click", () => {

                if (!clicked) {
                    // Zoom in on the first click
                    map.setZoom(15);
                    map.setCenter(marker.getPosition());
                    clicked = true;
                } else {
                    // Check if routeRenderer exists before setting it to null
                    if (marker.routeRenderer) {
                        marker.routeRenderer.setMap(null);
                        marker.routeRenderer = null;
                    }
                    // Check if the marker is not the userMarker
                    else if (marker !== userMarker) {
                        marker.routeRenderer = calculateAndDisplayRoute(userMarker.getPosition(), marker.getPosition());
                    }
                }
            });

            let timeoutId;
            marker.addListener("mousedown", () => {
                timeoutId = setTimeout(() => {
                    // This block executes after 3 seconds
                    if (markerOptions.type !== "user") {
                        marker.setMap(null);
                        if (marker.routeRenderer) {
                            marker.routeRenderer.setMap(null);
                        }
                        clearTimeout(timeoutId);
                    }
                }, 1300);
            });

            marker.addListener("mouseup", () => {
                clearTimeout(timeoutId);
            });

            map.panTo(latLng);
            return marker;
        }

        function calculateAndDisplayRoute(origin, destination) {
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer({suppressMarkers: true,});

            directionsService.route({
                origin: origin,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING,
            }, (response, status) => {
                if (status === 'OK') {
                    directionsRenderer.setMap(map);
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
            return directionsRenderer
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation.",
            );
            infoWindow.open(map);
        }

        window.initMap = initMap;
    </script>
</head>
<body>
<div id="map"></div>

<script
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVaeNch_aeLuTOIVX75orHHF0z7eeGlJI&callback=initMap&v=weekly"
></script>
</body>
</html>
