<div class="pl-4 w-full">
                <div class="flex flex-col gap-1 pb-3">
                    <p class="">Name: <input type="text" value="{{bird['bird_name']}}" class="border border-gray-400 rounded-md w-max ml-2 pl-1 h-6" ></p>
                    <p>Scientific Name - {{bird['bird_sci_name']}}</p>
                    <p>Order - {{bird['bird_order']}}</p>
                    <p>Family - {{bird['bird_family']}}</p>
                    <div id="bird-colors" class="w">Color -
                        {% for b_color in bird['bird_color'] %}
                            <div class="center relative inline-block select-none
                                        whitespace-nowrap rounded-lg py-1 px-2.5 align-baseline font-sans leading-none"
                                 style="background: {{b_color[1]}};" data-color-code="{{b_color[1]}}">
                                {{b_color[0]}}
                            </div>
                        {% endfor %}
                    </div>
                    <p>Habitat - {% for b_habitat in bird['bird_habitat'] %}{{b_habitat}}{% endfor %}</p>
                </div>
                <hr class="w-full">
                <div class="text-base pt-2">
                    <p class="text-xl">Biometric Features</p>
                    <div class="pl-4 pt-1">
                        <p>Size - {{bird['bird_char']['size']}}</p>
                        <p>Wing - {{bird['bird_char']['wing']}}</p>
                        <p>Weight - {{bird['bird_char']['weight']}}</p>
                    </div>
                </div>
            </div>