<!DOCTYPE html>
{% set logo_path, profiles ="images/", "users_profiles/user1.jpg" %}
{% set findings = [ 'https://cdn.pixabay.com/photo/2019/09/18/10/39/victoria-crowned-pigeon-4486154_1280.jpg',
'https://cdn.pixabay.com/photo/2018/09/02/15/34/owl-3649048_1280.jpg',
'https://cdn.pixabay.com/photo/2018/05/27/18/19/sparrows-3434123_1280.jpg',
'https://cdn.pixabay.com/photo/2014/05/20/21/25/bird-349035_1280.jpg',
'https://cdn.pixabay.com/photo/2019/01/01/14/10/pompadour-3906740_1280.jpg',
'https://cdn.pixabay.com/photo/2017/03/21/18/46/raven-2162966_1280.jpg']
%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    {% block script %}
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="relative">
<nav class="align-middle flex justify-between">
    <div class="flex items-center">
        <a class="flex items-center" href="/">
            <img alt="Logo" class="w-28 ml-3" src="{{url_for('static', filename=logo_path~'logo.png')}}">
        </a>
        <ul class="flex flex-row items-center gap-2 ml-3">
            <li>
                <a class="p-4 py-2 border-2 rounded-md" href="/">Home</a>
            </li>
            <li>
                <a class="p-4 py-2 border-2 rounded-md" href="#">Explore</a>
            </li>
            <li>
                <a class="p-4 py-2 border-2 rounded-md" href="/map">Map</a>
            </li>
        </ul>
    </div>
    <div class="flex items-center gap-2 mr-6">
        <a class="p-2 py-1 rounded-md bg-gray-700 text-gray-100" href="#">Sign In</a>
        <a class="p-2 py-1 rounded-md bg-gray-700 text-gray-100" href="#">Sign Up</a>
    </div>
    <div class="flex items-center gap-2 hidden">
        <a href="#">
            <a class="p-2 py-1 rounded-md bg-gray-700 text-gray-100" href="#">Log Out</a>
            <img alt="profile" class="w-14 rounded-full mr-6" src="{{url_for('static', filename=profiles)}}">
        </a>

    </div>
</nav>
<hr>
{% block content %}
{% endblock %}
<footer>

</footer>
</body>

</html>
